/*Home User*/

.barra-logo{
    position:fixed;
    top: 88%;

}

.call{
    width: 50px;
}
.profile{
    width: 50px;
    float: left;
    border-radius: 50%;

}

.marca{
    display: block

}
div.taxistas  {
    width: 100%;
    margin: 20px auto;

    color: #fff;
    padding: 10px;border-radius: 10px;
    animation-name: mover;
    animation-duration: 3s;
}

.text-bold-font{
    font-weight: bold;
}
.text-bold-font1{
    font-size: 30px;
}
div.user img.derecha {
    float: right;
    margin-left: 15px;
}
div.user img.izquierda {
    float: left;
    margin-right: 65px;
}
@keyframes mover {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.in{background-color:transparent;}
div.taxistas img.derecha {
    float: right;
    margin-left: 15px;
}
div.taxistas img.izquierda {
    float: left;
    margin-right: 15px;
}
div.reset {
    clear: both;
}


.width-650{
    width: 400px;

}
/*estrellla*/
.label{ color:orange;

}
.black{
    color: black;
}
.black-rgb{
    color: rgba(0, 0, 0, 0.6);
}
.estrellitas{

    position: relative;
    left: 18%;

}
input[type = "radio"]{ display:none;}
.clasificacion{
    direction: rtl;
    unicode-bidi: bidi-override;
}
.apsolute{
    width: 700px;
    position: absolute;
    top: 30px;
    left: 40%;
    
}
.from{
    width: 300px;
    
    max-width: 100%;
 
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    position: relative;
    border-radius: 10px;
    border-bottom-color: #61dafb;
    overflow-y: hidden;
    overflow-x: hidden;

}

.fotos svg { margin-left:60px; }
#global {
	position: relative;
    top: 80px;
	height: 20em;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
 
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
   
    border-radius: 10px;
    background-color: rgb(12, 186, 157); 
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}